[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=WebBrowser
X-XFCE-CommandsWithParameter=/usr/bin/microsoft-edge-dev "%s"
Icon=microsoft-edge-dev
Name=microsoft-edge-dev
X-XFCE-Commands=/usr/bin/microsoft-edge-dev

