// When color definition differs for dark and light variant
// it gets @if ed depending on $variant

@import '../common/theme_colors.scss';
@import '../common/common_colors.scss';


$headerbar_color: if($variant == 'light', lighten($bg_color, 5%), darken($bg_color, 3%));

$popover_bg_color: $bg_color;
$popover_hover_color: lighten($bg_color, 5%);


$base_hover_color: transparentize($fg_color, 0.95);




//colors for the backdrop state, derived from the main colors.

$backdrop_sidebar_bg_color: mix($backdrop_bg_color, $backdrop_base_color, 50%);

$backdrop_scrollbar_bg_color: darken($backdrop_bg_color, 3%);
$backdrop_scrollbar_slider_color: mix($backdrop_fg_color, $backdrop_bg_color, 40%);

$backdrop_menu_color: if($variant == 'light', $backdrop_base_color, mix($backdrop_bg_color, $backdrop_base_color, 20%));


