[Desktop Entry]
Name=Simple
X-KDE-PluginInfo-Author=Néstor Andreu
X-KDE-PluginInfo-Email=eudaimon@disroot.org
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Simple
X-KDE-PluginInfo-Version=1.0.0
