[Desktop Entry]
Version=1.0
Name=Microsoft Edge (dev)
GenericName=Web Browser
GenericName[fr]=Navigateur Web
Comment=Access the Internet
Comment[fr]=Accéder à Internet
Exec=/usr/bin/microsoft-edge-dev %U
StartupNotify=true
Terminal=false
Icon=microsoft-edge-dev
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;
X-XFCE-Source=file:///usr/share/applications/microsoft-edge-dev.desktop

[Desktop Action new-window]
Name=New Window
Name[fr]=Nouvelle fenêtre
Exec=/usr/bin/microsoft-edge-dev

[Desktop Action new-private-window]
Name=New InPrivate Window
Name[fr]=Nouvelle fenêtre InPrivate
Exec=/usr/bin/microsoft-edge-dev --inprivate
