padding=0
spacing=1
orientation=0
pref-dialog-maximized=false
pref-dialog-width=659
pref-dialog-height=593
size-format-iec=true
color-scheme=Ubuntu Ambiance
graph-order=0,1,2,3,4,5,6,7,8
graph-mem-procps-compliant=true
graph-parm-command=
graph-cpu-visible=false
graph-cpu-border-width=1
graph-cpu-interval=1000
graph-cpu-size=40
graph-cpu-tooltip-style=0
graph-cpu-dblclick-policy=0
graph-cpu-dblclick-cmdline=
graph-cpu-max=-1
graph-cpu-filter-enable=false
graph-cpu-filter=
graph-cpu-colors=#FFE96F20,#FFE96F20,#FFE96F20,#FFE96F20,#FF373737,#FF300A24,#FF300A24
graph-cpu-background-direction=0
graph-mem-visible=false
graph-mem-border-width=1
graph-mem-interval=1000
graph-mem-size=40
graph-mem-tooltip-style=0
graph-mem-dblclick-policy=0
graph-mem-dblclick-cmdline=
graph-mem-max=-1
graph-mem-filter-enable=false
graph-mem-filter=
graph-mem-colors=#FFE96F20,#FFE96F20,#FFE96F20,#FF373737,#FF300A24,#FF300A24
graph-mem-background-direction=0
graph-net-visible=true
graph-net-border-width=1
graph-net-interval=1000
graph-net-size=70
graph-net-tooltip-style=1
graph-net-dblclick-policy=1
graph-net-dblclick-cmdline=
graph-net-max=-1
graph-net-filter-enable=false
graph-net-filter=
graph-net-colors=#FFE96F20,#FFE96F20,#FFE96F20,#FF373737,#FF300A24,#FF300A24
graph-net-background-direction=0
graph-swap-visible=false
graph-swap-border-width=1
graph-swap-interval=1000
graph-swap-size=40
graph-swap-tooltip-style=0
graph-swap-dblclick-policy=0
graph-swap-dblclick-cmdline=
graph-swap-max=-1
graph-swap-filter-enable=false
graph-swap-filter=
graph-swap-colors=#FFE96F20,#FF373737,#FF300A24,#FF300A24
graph-swap-background-direction=0
graph-load-visible=false
graph-load-border-width=1
graph-load-interval=800
graph-load-size=40
graph-load-tooltip-style=0
graph-load-dblclick-policy=0
graph-load-dblclick-cmdline=
graph-load-max=8
graph-load-filter-enable=false
graph-load-filter=
graph-load-colors=#FFE96F20,#FF373737,#FF300A24,#FF300A24
graph-load-background-direction=0
graph-disk-visible=false
graph-disk-border-width=1
graph-disk-interval=1000
graph-disk-size=40
graph-disk-tooltip-style=0
graph-disk-dblclick-policy=0
graph-disk-dblclick-cmdline=
graph-disk-max=-1
graph-disk-filter-enable=false
graph-disk-filter=
graph-disk-colors=#FFE96F20,#FFE96F20,#FF373737,#FF300A24,#FF300A24
graph-disk-background-direction=0
graph-temp-visible=false
graph-temp-border-width=1
graph-temp-interval=1000
graph-temp-size=40
graph-temp-tooltip-style=0
graph-temp-dblclick-policy=0
graph-temp-dblclick-cmdline=
graph-temp-max=120
graph-temp-filter-enable=false
graph-temp-filter=
graph-temp-colors=#FFE96F20,#FFE96F20,#FF373737,#FF300A24,#FF300A24
graph-temp-background-direction=0
graph-bat-visible=false
graph-bat-border-width=1
graph-bat-interval=1000
graph-bat-size=40
graph-bat-tooltip-style=0
graph-bat-dblclick-policy=0
graph-bat-dblclick-cmdline=
graph-bat-max=-1
graph-bat-filter-enable=false
graph-bat-filter=
graph-bat-colors=#FFE96F20,#FFE96F20,#FFE96F20,#FF373737,#FF300A24,#FF300A24
graph-bat-background-direction=0
graph-parm-visible=false
graph-parm-border-width=1
graph-parm-interval=1000
graph-parm-size=40
graph-parm-tooltip-style=0
graph-parm-dblclick-policy=0
graph-parm-dblclick-cmdline=
graph-parm-max=-1
graph-parm-filter-enable=false
graph-parm-filter=
graph-parm-colors=#FFE96F20,#FFE96F20,#FFE96F20,#FFE96F20,#FF373737,#FF300A24,#FF300A24
graph-parm-background-direction=0

