@function gtkalpha($c,$a) {
  @return unquote("alpha(#{$c},#{$a})");
}

// Optional compact sizes for buttons, headerbar and headerbar widgets
$_sizevariant: 'compact'; //either 'default', or compact otherwise
$_headerbar_height: if($_sizevariant=='default', 3em, 2.5em);
$_entry_height: if($_sizevariant=='default', 1.9em, 1.6em);
$_btn_pad: if($_sizevariant=='default', 4px 9px, 2px 4px);
$_hb_btn_pad: if($_sizevariant=='default', 6px, 5px);
$_img_btn_pad: if($_sizevariant=='default', 5px, 2px);
$_sel_menu_pad: if($_sizevariant=='default', 6px 10px, 4px 10px);
$_circ_btn_pad: if($_sizevariant=='default', 4px, 2px);
$_switch_margin: if($_sizevariant=='default', 10px, 7px);

$entry_radius: $button_radius;

$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$asset_suffix: if($variant=='dark', '-dark', '');
$backdrop_transition: none;

$button_transition: none; //all 200ms $ease-out-quad;
//$button_radius: 0px;

//added by me:
	$border_width: 2px;
    $button_min_height: 1.6em;
    $button_min_width: 1.6em;
    $button_padding: $_btn_pad;
    $button_border: $border_width solid;

$_slider_width: 10px;
$_slider_min_length: 40px;

$menu_radius: $button_radius;
$popover_radius: $window_radius;


%selected_items {
  background-color: $selected_bg_color;
  color: $selected_fg_color;
  @at-root %nobg_selected_items, & {
    color: $selected_fg_color;

    @at-root %selected_items_disabled,
    &:disabled { color: mix($selected_fg_color, $selected_bg_color, 50%); }

    @at-root %selected_items_backdrop,
    &:backdrop { 
      //Simplewaita does not like backdrop changes except for headerbar and window decoration
      //however, some problems may arise if this is not applied.
      color: $selected_fg_color;
      background-color: $selected_bg_color;

      //&:disabled { color: mix($backdrop_selected_fg_color, $selected_bg_color, 30%); }
    }
  }
}




