// Other desktops fixes

// XFCE


XfdesktopIconView.view {
    text-shadow: 0 0 2px $base_color, 0 0 2px $base_color, 0 0 2px $base_color;
    color: $text_color;
    background-color: transparent;
    
    .rubberband {
        background-color: gtkalpha($selected_bg_color, 0.5);
    }
}

XfdesktopIconView.view:active {
    text-shadow: none;
    color: $selected_fg_color;
    background-color: gtkalpha($selected_bg_color, 0.5);
}

#XfceNotifyWindow {
    
      color: $hint_fg;
      border-radius: $window_radius;
      border-width: $border_width;
      border-style: solid;
      @include relief($hint_bg);
      label {color: $hint_fg}
      label #summary { font-weight: bold; }
      
      button { 
        @include button(osd);
        &:hover {@include button(osd-hover); }
        &:active {@include button(osd-active);}
      }

  }
  
// To avoid a frame around the desktop in Cinnamon desktop
.nemo-desktop-window notebook {
	border: none;
}
.nemo-desktop-window stack {
	background: none;
	border: none;
}


// Nautilus improvements
.nautilus-window {
    .top-bar {
    background-color: $titlebar_active_bg;
    color: $titlebar_active_fg;
    
    &:backdrop {
        background-color: $titlebar_backdrop_bg;
        color: $titlebar_backdrop_fg;
        transition: none;//$backdrop_transition;
    }
    .collapse-spacing {
        padding: 0;
    }
  }
  .nautilus-list-view {
    columnview, listview, cell {
            margin: 0;
    }
    cell {padding: 0;}
    
    row {margin: 0;}
    
  }
}

#NautilusPathBar {
    button, menubutton {
        margin: 0;
    }
}

windowhandle > box {
padding: 0;
}
