.nautilus-path-bar .path-buttons-box {
	//border-width: $border_width;
	//border-style: solid;  
  //@include relief($button_bg);
  //color: $button_fg;
  //padding: 0;
  button { 
    @extend %button_basic;
    @extend %button_basic_flat;
    
    }
}

#NautilusPathBar {
    background: none;
    border-radius: 0px;
}

.nautilus-list-view listview > row {
border-radius: 0px;
margin: 0pX
}

#NautilusViewCell {
    border-radius: 0px;
    & box { margin: 0px;}
}
