@mixin overshoot($p, $t:normal, $c:$error_color) {
//
// overshoot
//
// $p: position
// $t: type
// $c: base color
//
// possible $p values:
// top, bottom, right, left
//
// possible $t values:
// normal, backdrop
//

// overshoot is very simplified in this theme

  	background-color: gtkalpha($c, 0.1);
	background-size: 100%;
	background-repeat: no-repeat;
	border: none;
	box-shadow: none;
	background-image: none; //for libadwaita: we need to overwrite its defaults!

}
